:root {
  margin: 0;
  padding: 0;
  background-image: url('./assets/fundo-ps2-opening.jpg');
  background-size: cover; /* Ajusta a imagem para cobrir toda a área */
  background-position: center; /* Centraliza a imagem */
  background-repeat: no-repeat; /* Evita repetição */
  height: 100vh;
  background-attachment: fixed;
  font-family: 'poppins', sans-serif;
}

